@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    box-sizing: border-box;
    padding: 0 !important;
    overflow: visible !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 4px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}